@font-face {
  font-family: forgo-san;
  src: url("/fonts/wellsfargosans-rg.ttf");
}

@font-face {
  font-family: forgo-serif;
  src: url("/fonts/wellsfargoserif-lt.ttf");
}

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: forgo-san;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;

  padding: 5px 10px;
  width: 7rem;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 0.8rem;
  background: none;
  padding: 5px;
  width: 4rem;
}

.search-input:focus .search-container{
  outline: 2px solid #d61a1a; /* Red outline when clicked */
  border-radius: 10px;
}

.search-icon {
  fill: black;
}
